@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
/*  background-image: url('./../assets/subtle_white_mini_waves.png');
  background-repeat: repeat;
*/  background-color: #eee;

}

#description {
  padding: 10px;
}

#description p {
  margin: 0;
}

#legend {
  width: 100%;
}

#controls {
  /*padding: 20px;*/
  padding-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

#dateText {
  padding: 10px;
}

#legend .legendBox {
  display: inline-block;
  /*border: 1px solid black;*/
  width: 8%;
  text-align: center;
}

#legend .legendBox.box10 {
  width: 10%;
}

.content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

h1, h2, p, #dateText {
  font-family: 'Open Sans', sans-serif;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.controlSliders {
  text-align: center;
}

#controls {
  background-color: #ccc;
  border: 1px solid black;
}

#controls #dateText {
  background-color: #888;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

/*#controls {
  background-color: pink;
}
*/
.slider {
  width: 60%;
  text-align: center;
}

#description {
  float: right;
  width: 49%;
  border: 1px solid #ccc;
  background-color: #C5E4CA;
  padding-left: 5px;
  padding-right: 5px;
}

#map {
  float: left;
  width: 50%;
}

@media all and (max-width: 900px) {
  #description {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #map {
    width: 100%;
  }
}

@media all and (min-width: 901px) {
  #description {
    width: 40%;
    float: right;
    position:relative;
    /*top:-700px;*/
    }

  #map {
    width: 100%;
    position: relative;
    top: -300px;
  }

  #controls {
    position: relative;
    top: -400px;
  }
}
